
#### **requirements.txt**
```txt
streamlit
langchain_openai
langchain
base64
chromadb
pytesseract
Pillow
python-dotenv
PyMuPDF
langchain_community
langchain-chromadb
pytest
setuptools
streamlit_option_menu
streamlit_extras
PyMuPDF
pandas